@using WebApplication1.Models
@model TopupParameters


@{
    Layout = null;
    if (ViewBag.topups != null)
    {
        Topup[] topups = ViewBag.topups;
    }

}

@using (Html.BeginForm("Search", "Topups", FormMethod.Post))
{
    <table>
        <tbody>

            <tr>
                <td>
                    meterid
                </td>
            </tr>

            <tr>

                <td>@Html.TextBoxFor(o => o.MeterId)</td>
            </tr>

        </tbody>

    </table>
    <input type="submit" value="Search" />

}
