<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

    <!--  Meta  -->
    <meta charset="UTF-8" />
    <title>My New Pen!</title>

    <!--  Styles  -->

    <link href="~/styles/style.css" rel="stylesheet" />
</head>

<body>
    <div class="page-wapper">

        <div class="page-content">

            @RenderBody()
        </div>
    </div>
</body>

</html>