@using WebApplication1.Models
@model TransferParameters

@{

    int rc;
    Layout = null;
    int result = 0;
    if (ViewBag.result != null)
    {
        result = ViewBag.result;
    }

    Session["customer"] = new Customer(4010);

    Customer customer = (Session["customer"] as Customer);

    CashCard[] cashCards = CashCard.GetCashCards(new CashCardParameters {Id=customer.CardId }, out rc);
    Meter[] meters = Meter.GetMeters(new MeterParameters { }, out rc);

    Topup[] topups = Topup.GetTopups(new TopupParameters {SerialNUM=cashCards[0].SerialNumber, Status="0"}, out rc);//get ots for the customer in ession

}

@using (Html.BeginForm("Save", "Transfer", FormMethod.Post))
{

    <table>

        <tbody>

            <tr><td>Id</td></tr>

            <tr><td>@Html.TextBoxFor(o => o.Id)</td></tr>

            <tr><td>senderotp</td></tr>

            <tr><td>@Html.TextBoxFor(o=>o.SenderOTP)</td></tr>

            <tr><td>meterid</td></tr>

            <tr><td>@Html.DropDownListFor(o=>o.MeterId, new SelectList(meters,"id","Meterid"))</td></tr>

            <tr><td>amount</td></tr>

            <tr><td>@Html.TextBoxFor(o => o.Amount)</td></tr>

        </tbody>
    </table>

    <input type="submit" value="Save" />

    <p> the result is:@result</p>

}