@using WebApplication1.Models
@model CustomerParameters

@{



}

@if (ViewBag.error == "2")
{
    <p>you entered wrong username or password</p>
}
@*@using (Html.BeginForm("checklogin", "Login", FormMethod.Post))
{
    <table>
        <tbody>


            <tr><td>اسم المستخدم</td></tr>
            <tr><td>@Html.TextBoxFor(o => o.Username)</td></tr>

            <tr><td>كلمة المرور</td></tr>
            <tr><td>@Html.TextBoxFor(o => o.Password)</td></tr>



        </tbody>
    </table>
    <input type="submit" value="checklogin" />
}*@

<div style="width: 60%" class="vertical-align">
    <img class="logo-horizantal" src="~/images/logo-hor.png" />
    <p style="font-size: 32px; color:#818181; margin-top:20px;">يمنحك Easy Charge شحن عدادك والتحويل بكل سهولة</p>
</div>
<div style="width: 40%;">
    <div class="hexagon">
        <span></span>
        @using (Html.BeginForm("checklogin", "Login", FormMethod.Post, new {@class="content" }))
        {
            @*<input type="text" placeholder="الاسم" />*@
            @Html.TextBoxFor(o => o.Username, new { placeholder = "الاسم" })
            @*<input type="text" placeholder="كلمة المرور" />*@
            @Html.TextBoxFor(o => o.Password, new { placeholder = "كلمة المرور" })
            <input type="submit" value="checklogin"  class="brand-button" />
            @*<a href="./form.html" class="brand-button">تسجيل الدخول</a>*@
        }
    </div>
</div>